@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
    padding: 0;
    margin: 0;
}

svg{
    padding: 0;
}

/* Tùy chỉnh thanh cuộn chính */
.scrollable-content::-webkit-scrollbar {
    width: 8px;
    /* Chiều rộng của thanh cuộn dọc */
    height: 8px;
    /* Chiều cao của thanh cuộn ngang */
}

/* Tùy chỉnh đường dẫn của thanh cuộn */
.scrollable-content::-webkit-scrollbar-track {
    background: #fffbfb;
    /* Màu nền của đường dẫn thanh cuộn */
    border-radius: 10px;
    /* Bo tròn các góc của đường dẫn */
}

/* Tùy chỉnh thanh cuộn */
.scrollable-content::-webkit-scrollbar-thumb {
    background: #b4b3b3;
    /* Màu của thanh cuộn */
    border-radius: 10px;
    /* Bo tròn các góc của thanh cuộn */
}

/* Tùy chỉnh khi di chuột qua thanh cuộn */
.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #929292;
    /* Màu của thanh cuộn khi di chuột qua */
}

/* Ẩn thanh cuộn */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.sidebar::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

@layer base {
    :root {
        --color-bg: 227 227 227;
        --color-primary: 255 255 255;
        --color-secondary: 255 255 255;
        --color-ascent1: 0 0 0;
        --color-ascent2: 89 91 100;
        --color-blue: 6 90 216;
        --color-white: 255 255 255;

    }

    /* //15 23 42  21 30 49*/
    [data-theme="dark"] {
        --color-bg: 12 12 12;
        --color-primary: 31 31 31;
        --color-secondary: 47 45 48;
        --color-ascent1: 255 255 255;
        --color-ascent2: 164 161 162;
        --color-blue: 6 90 216;
        /* //16 176 255; */
        --color-white: 255 255 255;
    }
}